<!DOCTYPE html>
<html lang="en-US">
	{% include "partials/_site-head.njk" %}
	<body>
		{% include "partials/_site-header.njk" %}
		<main>
			{{ content | safe }}
		</main>
		{% include "partials/_site-footer.njk" %}
		<script src="/js/kit-builder.js" defer></script>
	</body>
</html>
