/* Accordion */

.accordion {
	border-radius: var(--border-radius);
	background: var(--color-bg);
	box-shadow: var(--shadow-m);
}

.accordion details {
	padding: var(--space-m-l);
}

.accordion > * + * {
	border-top: var(--border);
}

.accordion summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--space-m-l);
	font-weight: var(--fw-bold);
}

.accordion summary::after {
	content: "+";
	color: var(--color-secondary);
}

.accordion details[open] summary::after {
	content: "–";
}

.accordion details div {
	margin-block-start: var(--space-m-l);
}

.accordion details div > * + * {
	margin-block-start: var(--space-m-l);
}

/* Button */
.button {
	border: none;
	padding: var(--space-s) var(--space-m);
	background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-darkish));
	border-radius: var(--border-radius);
	text-decoration: none;
	color: var(--color-primary-dark);
	font-size: var(--fs-s);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: var(--letter-spacing);
	transition: transform 0.2s ease-in-out;
}

.button:hover {
	transform: scale(1.025);
}

.form-button {
	cursor: not-allowed;
	opacity: 0.6;
}

.button--clear {
	background: transparent;
	border: var(--border);
	color: var(--color-text);
}

/* Style when the form IS ready for submission */
.form-button.ready {
	cursor: pointer;
	opacity: 1;
}

/* Ensure the truly disabled state looks correct */
.form-button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.close-btn {
	cursor: pointer;
	display: block;
	margin-left: auto;
}

/* Nav */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	gap: var(--space-m-l);
	position: relative;
	font-weight: var(--fw-bold);
	font-family: var(--ff-display);
	text-transform: uppercase;
}

.nav__list a {
	text-decoration: none;
}

/* Remove unwanted space under logo */
.nav__logo {
	line-height: 0;
}

.nav__button {
	background: none;
	border: none;
	display: inline-flex;
	align-items: center;
	gap: 0.25ch;
	text-transform: uppercase;
}

.nav__button::after {
	content: "\25BC";
	font-size: 0.75em;
	transform: rotate(0deg);
	transition: transform 0.2s ease-in-out;
	color: var(--color-secondary);
}

.nav__button--expanded::after {
	transform: rotate(180deg);
}

.nav__dropdown {
	position: absolute;
	left: calc(-1 * var(--space-m-l));
	z-index: 10;
	margin-block-start: var(--space-m-l);
	background: var(--color-bg);
	box-shadow: var(--shadow-m);
	border-radius: var(--border-radius);
	padding: var(--space-m-l);
}

.nav__dropdown span {
	display: block;
	text-transform: initial;
	font-family: var(--ff-body);
}

/* Error message */
.error-message {
	color: var(--color-error);
	font-size: var(--fs-s);
	display: flex;
	align-items: center;
	gap: var(--space-xs);
}

/* Signup form */
.signup-form {
	width: var(--width-prose);
}

.signup-form__content {
	display: flex;
	gap: var(--space-m-l);
	flex-wrap: wrap;
}

.signup-form__content > :last-child {
	flex-grow: 1;
}

.signup-form__content > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 70%;
}

/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	gap: var(--space-2xl-5xl);
	flex-wrap: wrap-reverse;
	align-items: start;
}

/* Icons */
.icon {
	width: 1.25em;
	height: 1.25em;
}

/* sidebar */
.sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m-l);
	align-items: center;
}

.sidebar:nth-of-type(even) {
	flex-direction: row-reverse;
}

.sidebar > :last-child {
	flex-grow: 1;
	flex-basis: 40ch;
}

.sidebar > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 47%;
}

/* Reel */
.reel {
	display: flex;
	block-size: auto;
	overflow-x: auto;
	overflow-y: hidden;
	align-items: center;
}

.reel > * {
	flex: 0 0 clamp(15.625rem, 11.7898rem + 17.0455vw, 25rem);
	margin-block-end: var(--space-m-l);
}

.reel > * + * {
	margin-inline-start: var(--space-m-l);
}

.card {
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-m);
	padding: var(--space-m-l);
	background: var(--color-bg);
}

/* Box */
.box {
	box-shadow: var(--shadow-m);
	border-radius: var(--border-radius);
}

.box__header {
	padding: var(--space-m-l);
	border-bottom: var(--border);
	background-image: url("/assets/svg/topo-bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: baseline;
	gap: var(--space-s);
	background-color: var(--color-bg-light);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.box__content {
	padding: var(--space-m-l);
	background-color: var(--color-bg);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

/* Description List */
dl {
	display: grid;
	gap: var(--space-s);
	grid-template-columns: max-content 1fr;
	align-items: baseline;
}

dt {
	font-weight: var(--fw-bold);
}

dd {
	color: var(--color-text-muted);
}

.cluster {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--space-xl);
}

/* Table */
table {
	border-spacing: 0;
	text-align: left;
	width: 100%;
	border: var(--border);
	border-color: var(--color-secondary);
	font-size: var(--fs-s);
	white-space: nowrap;
}

th,
td {
	padding: var(--space-xs);
}

thead th {
	background: var(--color-secondary);
}

thead th:first-child {
	text-align: left;
}

tbody tr th,
tbody tr td {
	background: var(--color-bg-dark);
}

tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td {
	background: var(--color-bg-light);
}

th:first-child {
	position: sticky;
	inset-inline-start: 0;
}

th:first-child::after {
	content: "";
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 0;
	width: 1px;
	height: 100%;
	background: var(--color-secondary);
}

thead th,
tbody td {
	text-align: right;
}

/* Lists */
ol,
ul,
summary {
	list-style: none;
}

/* Add a little spacing between list items that have no role attribute */
ol > * + *,
ul:not([role]) > * + * {
	margin-block-start: var(--space-xs);
}
/* Help align list items with long content */
ol li,
ul:not([role]) li {
	display: flex;
}
/* Add checkmark before list items */
ul:not([role]) li::before {
	content: "\2713";
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	margin-inline-end: var(--space-xs);
	color: var(--color-text-muted);
}

ol {
	counter-reset: custom-list-counter;
}

ol li {
	counter-increment: custom-list-counter;
}

ol li::before {
	content: "" counter(custom-list-counter) ".";
	margin-inline-end: var(--space-xs);
	color: var(--color-text-muted);
}

/* Kit Builder (Custom Form/Card structure) */
.kit-builder__group {
	display: grid;
	gap: var(--space-s);
	grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
	border: none;
}
/* Represents each button */
.kit-builder__card {
	padding: var(--space-s);
	background: var(--color-bg-dark);
	border: var(--border);
	border-radius: var(--border-radius);
	text-align: center;
}
/* Make label stand out */
.kit-builder__option {
	font-weight: var(--fw-bold);
	font-size: var(--fs-s);
}
/* Reset default label styles */
.kit-builder label {
	color: var(--color-text);
	line-height: var(--lh-body);
}
/* Hide default radio buttons */
.kit-builder input[type="radio"] {
	display: none;
}
/* Change styles for checked buttons */
.kit-builder label:has(input[type="radio"]:checked) {
	border-color: var(--color-secondary);
	background: var(--color-bg-light);
}

.calc__buttons {
	display: flex;
	gap: var(--space-m-l);
}

/* Modal */
.modal {
	position: fixed;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	box-shadow: var(--shadow-l);
	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--color-bg);
	padding: var(--space-m-l);
}

.modal__card {
	background: var(--color-bg-light);
	border-radius: var(--border-radius);
	border: var(--border);
	padding: var(--space-m-l);
}

.modal:focus {
	outline: none;
}

.modal__header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
