/* Centering Layouts */

.center {
	margin-inline: auto;
	width: var(--width-full);
}

.prose {
	margin-inline: auto;
	width: var(--width-prose);
}

.narrow {
	margin-inline: auto;
	width: var(--width-narrow);
}

.stack > * + * {
	margin-block-start: var(--space-m-l);
}

.stack-small > * + * {
	margin-block-start: var(--space-s);
}

.stack-xs > * + * {
	margin-block-start: 0.2rem;
}

.stack-xl > * + * {
	margin-block-start: var(--space-xl);
}

.stack-2xl-5xl > * + * {
	margin-block-start: var(--space-2xl-5xl);
}

.fine-print {
	font-size: var(--fs-s);
	color: var(--color-text-muted);
	font-weight: 400;
}

/* Help responsive tables */
.overflow-scroll {
	overflow: auto;
	scrollbar-width: none;
}

/* Add fancy gradient to highlight text */
.highlight {
	background: linear-gradient(to right, var(--color-secondary), var(--color-secondary-dark));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.m-top-0 {
	margin-block-start: 0;
}

.m-top-xs {
	margin-block-start: var(--space-xs-fixed);
}

.m-top-2xl-5xl {
	margin-block-start: var(--space-2xl-5xl);
}

.full-width {
	width: 100%;
}

.quote-text {
	font-family: var(--ff-serif);
	font-style: italic;
}

.muted {
	color: var(--color-text-muted);
}

.masonry {
	column-width: 25rem;
	column-gap: var(--space-m-l);
}

.bold {
	font-weight: var(--fw-bold);
	color: var(--color-text);
}
