---
title: Simple bikes built right
desc: Your new bike should disappear under you so you can focus on your adventure.
permalink: /about/
layout: layouts/page.njk
image: /img/about-blue-ridge-parkway-tour.jpg
alt: Nick and Carrie on a bike tour on the Blue Ridge Parkway
testimonial:
    image: /img/rachel-quote.jpg
    alt: Manzanita touring bike in Marin Headlands
    quote: I just got back from my first bikepacking trip and I was so grateful that I had my Manzanita to accompany me.
    name: Rachel B.
---

<p>I know how important it is to have a reliable machine, because a mechanical failure can ruin a ride or a trip.</p>

<p>That's why I made my first bicycle frame in 2007. I wanted something I could trust during a 5-week trip around Iceland.</p>

<p>
	I believe steel is the ideal material for a bicycle: strong, durable, easy to work with, a joy to ride, and, frankly, beautiful. There's just something about those skinny tubes that makes me
	smile.
</p>

<figure><img src="{{ image }}" alt="{{ alt }}" sizes="(min-width: 620px) 544px, 92vw" loading="eager" fetchpriority="high" /></figure>

<h2>Built for your adventures</h2>

<p>My goal is to build steel bicycles that are dependable, fun, and tailored to your adventures.</p>

<p>
	Whether you're after a racy gravel bike <a href="/bikes/whippet">like the Whippet</a>, a fun-loving hardtail <a href="/bikes/manifesto">like the Manifesto</a>, or a
	<a href="/bikes/custom">one-of-a-kind custom build</a>, I promise to deliver you a bicycle you can count on ride after ride.
</p>

<figure class="flow-thru">
	<div>
		<img src="{{ testimonial.image }}" alt="{{ testimonial.alt }}" sizes="(min-width: 620px) 544px, 92vw" />
	</div>
	<figcaption class="highlight">
		<blockquote>
			<p>&ldquo;{{ testimonial.quote }}&rdquo;</p>
			<footer>
				<cite>{{ testimonial.name }}</cite>
			</footer>
		</blockquote>
	</figcaption>
</figure>
