---
layout: layouts/base.njk
title: Home
---
<div class="full-width stack-3">
    <header class="wrap">
        <h1>Steel bike frames for your next <span class="highlight">adventure</span></h1>
    </header>
    <div class="zigzag">
        <a href="/bikes/whippet">{% image "/assets/img/whippet-main.jpg", "whippet steel gravel bike", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)", "eager", "high" %}</a>
        <div>
            <a href="/bikes/whippet" class="highlight">
                <h2>Whippet</h2>
            </a>
            <p>With clearance for XC tires, the Whippet 2.0 is a streamlined, race-ready gravel machine.</p>
        </div>
    </div>
    <div class="zigzag zigzag-switch">
        <a href="bikes/manifesto">{% image "/assets/img/hardtail-manifesto.jpg", "manifesto steel hardtail", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)" %}</a>
        <div>
            <a href="bikes/manifesto" class="highlight">
                <h2>Manifesto</h2>
            </a>
            <p>The Manifesto is a fun-loving 130mm-travel hardtail with UDH-compatible dropouts and geo dialed for a balance of climbing efficiency and descending confidence.</p>
        </div>
    </div>
    <div class="zigzag">
        <a href="bikes/custom">{% image "/assets/img/custom-klunker.jpg", "Modern steel klunker mountain bike", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)" %}</a>
        <div>
            <a href="bikes/custom" class="highlight">
                <h2>Custom</h2>
            </a>
            <p>A unique bike fit to you with a showroom finish and all the personal touches.</p>
        </div>
    </div>
</div>