---
title: Custom
subTitle: It's all about you
desc: A unique bike fit to you with a showroom finish and all the personal touches.
miniDesc: One-of-a-kind
price: $2,800
deposit: $500
featuresTitle: What's your thing?
image: /img/klunker.jpg
alt: Steel klunker mountain bike
order: 3
depositLink: https://link.waveapps.com/2w8tkt-fjqurh
features:
    - image: /img/moira-tourer.jpg
      alt: Red steel bikepacking bike with steel fork
      title: For the long haul
      desc: Are you planning a long tour and looking for a reliable companion? Let's get your steel mule dialed before the trip.
    - image: /img/commuter-overall.jpg
      alt: Hybrid commuter bike with fenders and dynamo lighting
      title: To work and beyond
      desc: Or do you need a new machine to take you to your job every day? I spent a decade commuting to work and can outfit you with hassle-free transportation.
    - image: /img/randonneur.jpg
      alt: Randonneuring bike with silver fenders, custom racks, and dynamo lighting
      title: All night long
      desc: Or maybe you have a special affinity for riding through the night? A kitted out randonneuring rig will keep you moving efficiently and in style.
    - image: /img/ultralight-hardtail.jpg
      alt: Ultralight steel hardtail weighs a little under 20lbs
      title: Let's get groovy
      desc: Whatever you're looking for, we'll get you a dialed fit, a showroom finish, and a bike you're going to love for years to come.
photos:
    - src: /img/custom-purpleHardtail.jpg
      alt: Purple hardtail for bikepacking
    - src: /img/custom-badge.jpg
      alt: Manzanita head tube badge with stamped build number
    - src: /img/custom-steel-gravel.jpg
      alt: Baby blue steel gravel bike with steel fork
    - src: /img/custom-robb-gravel.jpg
      alt: Custom steel gravel bike with clearance for XC race tires
    - src: /img/custom-battleBorn.jpg
      alt: Manzanita Battle Born graphic on down tube
    - src: /img/custom-ultralight-hardtail.jpg
      alt: internal routing port
    - src: /img/custom-rando.jpg
      alt: Custom steel randonneuring bike
    - src: /img/custom-yoke.jpg
      alt: Custom 3d printed stainless steel yoke
    - src: /img/custom-klunker.jpg
      alt: Modern steel klunker mountain bike
    - src: /img/custom-collin-bikepacker.jpg
      alt: Steel bikepacking bike with custom lavender paint scheme
quotes:
    - name: Max E.
      img: /img/max-quote.jpg
      alt: Yellow gravel bike viewing San Francisco fog.
      text: Nick was able to deliver hands down the most fun drop bar bike I've ever ridden.
    - name: Gavin B.
      img: /img/gavinb-quote.jpg
      alt: Max carves a corner on his gravel bike.
      text: The bike is comfortable - back tightness that plagued me in the past has disappeared and the bike handles great!
    - name: Andrew N.
      img: /img/ultralight-singlespeed-hardtail.jpg
      alt: Ultralight steel singlespeed hardtail
      text: I can say without hesitation it handles and feels better than any bike I've had before.
    - name: McCord B.
      img: /img/mccord-quote.jpg
      alt: Ultralight steel singlespeed hardtail
      text: My new Manzanita is not only prettier than I could have ever imagined, but also rides like a dream!
---

<div class="stack-2xl">
	<!-- Hero -->
	{% include "partials/_bikes-hero-section.njk" %}
	<!-- Quote -->
	{% include "partials/_custom-quote.njk" %}
	<!-- Highlighted features -->
	{% include "partials/_bikes-features-section.njk" %}
	<!-- Quote block -->
	{% include "partials/_bikes-quote-block.njk" %}
	<!-- FAQ -->
	{% include "partials/_custom-faq.njk" %}
	<!-- photos -->
	{% include "partials/_bikes-photos-section.njk" %}
</div>
