---
title: Manifesto
subTitle: Simply capable
desc: The Manifesto is a fun-loving 130mm-travel hardtail with geo dialed for a balance of climbing efficiency and descending confidence.
miniDesc: Fun-loving hardtail
price: $2,300
deposit: $500
featuresTitle: Standout features
image: /img/hardtail-manifesto.jpg
alt: Manifesto steel hardtail
order: 2
depositLink: https://link.waveapps.com/me84fq-engpnh
features:
    - image: /img/manifesto-drawing.jpg
      alt: A drawing of the Manifesto hardtail calling out features and specs
      title: Simple and reliable
      desc: "The Manifesto has all the modern features you'd expect: externally routed lines for easy maintenance, frame protection on the down tube, room for two water bottles inside the frame, and so much more."
    - image: /img/hardtail-udh.jpg
      alt: The manifesto is compatible with Sram Transmission and UDH
      title: UDH dropouts
      desc: The dropouts are compatible with Sram's Universal Derailleur Hanger, wireless Transmission, and every other drivetrain on the market.
    - image: /img/hardtail-bottle-mounts.jpg
      alt: A drawing of the Manifesto hardtail calling out features and specs
      title: More water for more miles
      desc: The offset bosses on the seat tube allow you to install a water bottle cage without interfering with your long dropper post.
    - image: /img/hardtail-protection.jpg
      alt: A drawing of the Manifesto hardtail calling out features and specs
      title: Serve and protect
      desc: The externally-routed lines make maintenance a breeze. A custom 3d-printed housing guide protects the frame and lines from damage, while giving you the ability to add a third water bottle for those epic adventures.
photos:
    - src: /img/manifesto-steel-hardtail.jpg
      alt: Manifesto steel hardtail ruby red
    - src: /img/manifesto-battle-born.jpg
      alt: Manzanita Cycles Battle Born graphic
    - src: /img/manifesto-bottle-cage.jpg
      alt: Offset bottle cage to allow long dropper posts
    - src: /img/manifesto-protection.jpg
      alt: 3d printed housing guide protects the down tube
    - src: /img/manifesto-manzanita-graphics.jpg
      alt: Manzanita graphic in silver
    - src: /img/manifesto-seat-cluster.jpg
      alt: Welded seat cluster on steel hardtail
    - src: /img/manifesto-seatstays.jpg
      alt: Manifesto seatstays with arched bridge
quotes:
    - name: Amiel S.
      img: /img/amiel-quote.jpg
      alt: Amiel riding his hardtail in California
      text: The bike is sooo comfortable! It's the most compliant hardtail that I've ever ridden.
    - name: Carlos B.
      img: /img/carlos-quote.jpg
      alt: Carlos riding his hardtail in the Alps.
      text: The final feeling when you get to ride the bike is pure satisfaction...
    - name: Charlie P.
      img: /img/charlie-quote.jpg
      alt: Charlie's new hardtail.
      text: The bike has been a dream since I received it a couple months ago and would recommend him to anyone who will listen!
    - name: Collin W.
      img: /img/collin-quote.jpg
      alt: Collin rides down a granite slab on his hardcore hardtail.
      text: The only drawback to ordering a Manzanita is that you will soon want a stable of them.
    - name: Kevin B.
      img: /img/kevin-quote.jpg
      alt: Kevin B. shows off his new Manzanita hardtail.
      text: The short story is in my 30 years of mountain biking this is the best bike I've ever owned.
---

<div class="stack-2xl">
	<!-- Hero -->
	{% include "partials/_bikes-hero-section.njk" %}
	<!-- What's Included -->
	{% include "partials/_manifesto-included.njk" %}
	<!-- Quote -->
	{% include "partials/_manifesto-quote.njk" %}
	<!-- Highlighted features -->
	{% include "partials/_bikes-features-section.njk" %}
	<!-- Geometry -->
	{% include "partials/_manifesto-geo.njk" %}
	<!-- Frame specs -->
	{% include "partials/_manifesto-frame-specs.njk" %}
	<!-- Quote block -->
	{% include "partials/_bikes-quote-block.njk" %}
	<!-- Color options -->
	{% include "partials/_manifesto-color-options.njk" %}
	<!-- FAQ -->
	{% include "partials/_manifesto-faq.njk" %}
	<!-- photos -->
	{% include "partials/_bikes-photos-section.njk" %}
</div>
