---
title: Manifesto
subTitle: Simply capable
desc: The Manifesto is a fun-loving 130mm-travel hardtail with UDH-compatible dropouts and geo dialed for a balance of climbing efficiency and descending confidence.
miniDesc: Fun-loving hardtail
image: /assets/img/hardtail-manifesto.jpg
alt: Manifesto steel hardtail
order: 2
depositLink: https://link.waveapps.com/me84fq-engpnh
features:
  - image: /assets/img/manifesto-drawing.jpg
    alt: A drawing of the Manifesto hardtail calling out features and specs
    title: Big tire energy
    desc: The Manifesto can clear 29x2.6" tires and a 34t chainring with a 52mm chainline.
  - image: /assets/img/hardtail-udh.jpg
    alt: The manifesto is compatible with Sram Transmission and UDH
    title: UDH for the win
    desc: The dropouts are compatible with Sram's Universal Derailleur Hanger, wireless Transmission, and every other drivetrain on the market.
  - image: /assets/img/hardtail-bottle-mounts.jpg
    alt: A drawing of the Manifesto hardtail calling out features and specs
    title: More water for more miles
    desc: The offset bosses on the seat tube allow you to install a water bottle cage without interfering with your long dropper post.
  - image: /assets/img/hardtail-protection.jpg
    alt: A drawing of the Manifesto hardtail calling out features and specs
    title: Serve and protect
    desc: The externally-routed lines make maintenance a breeze. A custom 3d-printed housing guide protects the frame and lines from damage, while giving you the ability to add a third water bottle for those epic adventures.
photos:
  - src: /assets/img/manifesto-steel-hardtail.jpg
    alt: Manifesto steel hardtail ruby red
  - src: /assets/img/manifesto-battle-born.jpg
    alt: Manzanita Cycles Battle Born graphic
  - src: /assets/img/manifesto-bottle-cage.jpg
    alt: Offset bottle cage to allow long dropper posts
  - src: /assets/img/manifesto-protection.jpg
    alt: 3d printed housing guide protects the down tube
  - src: /assets/img/manifesto-manzanita-graphics.jpg
    alt: Manzanita graphic in silver
  - src: /assets/img/manifesto-seat-cluster.jpg
    alt: Welded seat cluster on steel hardtail
  - src: /assets/img/manifesto-seatstays.jpg
    alt: Manifesto seatstays with arched bridge
---

<!-- Hero -->
{% include "partials/_bikes-hero-section.njk" %}
<!-- Pricing -->
<section>
  <div class="box narrow">
    <header class="box__header">
      {% include "partials/_sales-tag-icon.njk" %}
      <h2>Pricing</h2>
    </header>
    <div class="box__content stack">
      <h3 class="h2">$2,300</h3>
      <p class="fine-print">Includes:</p>
      <ul class="m-top-0 list">
        <li>Frame with single color powder coat and vinyl graphics</li>
        <li>Wolf Tooth seat collar, headset, rear axle, derailleur hanger</li>
        <li>Stainless bottle bolts</li>
        <li>Rear brake adapter</li>
      </ul>
    </div>
  </div>
</section>
<!-- Highlighted features -->
{% include "partials/_bikes-features-section.njk" %}
<!-- Geometry -->
<section class="box prose">
  <header class="box__header">
    {% include "partials/_geometry-icon.njk" %}
    <h2>Geometry</h2>
  </header>
  <div class="box__content stack">
    {% include "partials/_manifesto-geo.njk" %}
  </div>
</section>
<!-- Specs and colors-->
<section class="cluster">
  <div class="box prose">
    <header class="box__header">
      {% include "partials/_list-icon.njk" %}
      <h2>Frame specs</h2>
    </header>
    <dl class="box__content">
      <dt>Max tire width</dt>
      <dd>2.6" (66 mm)</dd>
      <dt>Hub dimensions</dt>
      <dd>12x148 mm Boost</dd>
      <dt>Derailleur hanger</dt>
      <dd>UDH / Sram Transmission</dd>
      <dt>Chainline</dt>
      <dd>52–55 mm</dd>
      <dt>Max chainring</dt>
      <dd>34t</dd>
      <dt>Brake type</dt>
      <dd>IS (International Standard)</dd>
      <dt>Max rear rotor size</dt>
      <dd>180 mm</dd>
      <dt>Seat post</dt>
      <dd>31.6 mm</dd>
      <dt>Seat post clamp</dt>
      <dd>34.9–35 mm</dd>
      <dt>Bottom bracket</dt>
      <dd>73 mm BSA</dd>
    </dl>
  </div>
  <div class="box prose">
    <header class="box__header">
      {% include "partials/_paint-icon.njk" %}
      <h2>Color options</h2>
    </header>
    <div class="box__content stack">
      <p>
        My local powder coater uses powders from
        <a href="">Prismatic Powders</a>. There are probably thousands of colors
        to choose from. I can help you narrow down your choices for the powder
        color and graphics color.
      </p>
      <p>
        If you're interested in doing a special paint scheme, I can send the
        frame to Ollie at Dark Matter Finishing for a showroom finish. It costs
        more and takes longer, but Ollie's work is worth it.
      </p>
    </div>
  </div>
</section>
<!-- Testimonials -->
{% include "partials/_testimonials.njk" %}
<!-- FAQ -->
<section class="prose stack">
  <h2>FAQ</h2>
  <div class="accordion box">
    <details name="group">
      <summary>What's included with the frame?</summary>
      <div>
        <ul class="list">
          <li>Wolf Tooth rear bolt-on axle</li>
          <li>Sram Universal Derailleur Hanger</li>
          <li>Wolf Tooth seat collar</li>
          <li>Wolf Tooth Performance headset</li>
          <li>Chainstay protection</li>
          <li>3d-printed housing guides</li>
          <li>3d-printed down tube protector guide</li>
        </ul>
      </div>
    </details>
    <details name="group">
      <summary>How fast can I get my hands on a Manifesto?</summary>
      <div>
        <p>
          My goal is to get you a frameset within 12-16 weeks of your deposit.
          Full builds may take longer depending on parts availability.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>What brake adapter do I need?</summary>
      <div>
        <p>
          Make sure you choose a
          <strong>rear</strong>,
          <strong>IS to post mount</strong>
          adapter for the rotor size you plan to run.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>Can I run a front derailleur?</summary>
      <div>
        <p>No, the bike frame is optimized for 1x drivetrains.</p>
      </div>
    </details>
    <details name="group">
      <summary>Can I run 650b wheels?</summary>
      <div>
        <p>
          The frame is designed around the height of a 29er wheel with 2.4"
          tires. Running 650b wheels will make your bike too low to the ground,
          resulting in frequent pedal strikes.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>Can I over/under fork the frame?</summary>
      <div>
        <p>
          The bike is designed for 130mm travel forks. Running a longer fork
          will void the warranty because it puts additional stress on the frame.
          But you can run a 120mm fork no problem. It'll make the head tube and
          seat tube angles about a half degree steeper.
        </p>
      </div>
    </details>
    {% for item in faq %}
    <details name="group">
      <summary>{{ item.q }}</summary>
      <div>
        {{ item.a | safe }}
      </div>
    </details>
    {% endfor %}
  </div>
</section>
<!-- photos -->
{% include "partials/_bikes-photos-section.njk" %}
