---
title: Whippet
subTitle: Try to catch the
desc: With clearance for XC tires, Whippet 2.0 is a streamlined, race-ready gravel machine.
miniDesc: Racy gravel
image: /assets/img/whippet-main.jpg
alt: Whippet steel gravel bike
order: 1
depositLink: https://link.waveapps.com/vjq8pt-5e73yg
features:
  - image: /assets/img/whippet-tire-clearance.jpg
    alt: Whippet can fit 700x57mm tires
    title: The best gravel tires are mountain bike tires
    desc: The Whippet can clear a 57mm (2.25") tire for excellent bump absorption, traction, and speed. Or run skinnier 45mm tires for tons of mud clearance or lots of paved riding.
  - image: /assets/img/whippet-dropouts.jpg
    alt: whippet
    title: UDH dropouts for the win
    desc: The dropouts are CNC-machined by Paragon Machine Works in California. They are compatible with Sram Transmission and Shimano wireless rear derailleurs.
  - image: /assets/img/whippet-rainbow.jpg
    alt: whippet frame sizes stacked on each other
    title: Proportional frame sizes
    desc: Short and tall riders finally get frames that scale for their size so everyone can enjoy a bike that handles intuitively. The frame tubes also scale to get that perfect blend of precision and suppleness that steel is famous for.
photos:
  - src: /assets/img/miguel-lostandfound.jpg
    alt: Miguel and his Whippet racing Lost and Found gravel race.
  - src: /assets/img/whippet-campandgoslow-tape.jpg
    alt: A Whippet with Camp and Go Slow Western Rattler handlebar tape
  - src: /assets/img/andrew-white-whippet.jpg
    alt: Andrew's white and black Whippet
  - src: /assets/img/ward-scenery.jpg
    alt: Ward's Whippet with a beautiful view of Washington
  - src: /assets/img/whippet-redwoods.jpg
    alt: A Whippet in the redwoods
  - src: /assets/img/whippet-stillwater-nevada.jpg
    alt: Riding my Whippet near Stillwater Wildlife Preserve in Nevada
  - src: /assets/img/ruby-roubaix.jpg
    alt: Racing the Ruby Roubaix
  - src: /assets/img/Ruby-Roubaix-Podium.jpg
    alt: Elliot on the podium of Ruby Roubaix
---

<!-- Hero -->
{% include "partials/_bikes-hero-section.njk" %}
<!-- Pricing -->
<section class="cluster">
  <div class="box narrow">
    <header class="box__header">
      {% include "partials/_sales-tag-icon.njk" %}
      <h2>Pricing</h2>
    </header>
    <div class="box__content stack">
      <h3 class="h2">$2,800</h3>
        <p class="fine-print">Includes:</p>
        <ul class="list m-top-0">
          <li>Whippet 2.0 frame</li>
          <li>Carbon fork painted to match</li>
          <li>Wolf Tooth seat collar</li>
          <li>Wolf Tooth headset</li>
          <li>Wolf Tooth rear axle</li>
          <li>Wolf Tooth derailleur hanger</li>
        </ul>
    </div>
  </div>
  {% include "partials/_kit-builder.njk" %}
</section>
<!-- Sleek or simple -->
<section class="box prose">
  <header class="box__header">
    {% include "partials/_choices-icon.njk" %}
    <h2>Sleek or simple?</h2>
  </header>
  <div class="box__content stack">
    {% image "/assets/img/whippet-drawing.jpg", "Whippet 2.0 can be configured
    for sleek internal routing or simple external routing", "(min-width: 1660px)
    687px, (min-width: 700px) calc(8.51vw + 547px), calc(92.63vw - 26px)" %}
    <p>
      Whippet 2.0 can be configured for cable-actuated or wireless drivetrains.
    </p>
    <h3>Sleek</h3>
    <p class="m-top-0">
      An internally-routed rear brake keeps the bike looking streamlined. There
      are no unnecessary housing guides on the down tube and driveside chainstay.
    </p>
    <h3>Simple</h3>
    <p class="m-top-0">
      Bolt-on housing guides run along the down tube and both chainstays to
      securely fasten your brake and derailleur lines.
    </p>
  </div>
</section>
<!-- Highlighted features -->
{% include "partials/_bikes-features-section.njk" %}
<!-- Geometry -->
<section class="stack prose">
  <div class="box">
    <header class="box__header">
      {% include "partials/_geometry-icon.njk" %}
      <h2>Geometry</h2>
    </header>
    <div class="box__content stack">
<p>The Whippet comes in 6 frame sizes to cover a wide range of riders. Please use the <strong>Frame Fit Calculator</strong> below to help determine the best frame size for you.</p>
  {% include "partials/_whippetGeo.njk" %}
    </div> 
  </div>
</section>
<!-- Frame Fit Calculator -->
<section class="stack prose">
  <div class="box">
    <header class="box__header">
      {% include "partials/_calculator-icon.njk" %}
      <h2>Frame Fit Calculator</h2>
    </header>
    {% include "partials/_whippetFitCalc.njk" %}
  </div>
  <div class="accordion">
    <details name="ff-group">
      <summary>What's the best way to determine my Whippet frame size?</summary>
      <div class="stack">
        <p>
          While you can use numbers like <em>effective top tube length</em>, <em>frame reach</em>, and <em>frame stack</em>
          to get you an okay idea of which size is best, you'll get more accurate results focusing on your contact points: your handlebars, saddle, and pedals. After all, you don't actually touch the frame when you're riding the bike.
        </p>
        <p>
          <strong>The Frame Fit Calculator uses measurements from the contact points of your current bike to recommend the best Whippet frame size for you.</strong>
        </p>
        <p>The Frame Fit Calculator helps you determine the best:</p>
        <ul class="list">
          <li>Whippet frame size</li>
          <li>Stem length</li>
          <li>Stem angle</li>
          <li>Headset spacer stack</li>
        </ul>
      </div>
    </details>
    <details name="ff-group">
      <summary>Help me understand the Calculator's results.</summary>
      <div class="stack">
        <p>
          The Frame Fit Calculator finds the closest setup match to the
          measurements you've taken from your current bike. It's as accurate as
          the measurements you take.
        </p>
        <p>
          The
          <strong>best match</strong>
          shows you the closest dimensional match to your current bike.
        </p>
        <p>
          But some people might prefer the look of their stem angled down. In
          that case, the calculator also shows the
          <strong>best match with a negative stem angle</strong>.
        </p>
        <p>
          Many times the best match is also a setup with a negative stem angle.
          Win, win!
        </p>
      </div>
    </details>
    <details name="ff-group">
      <summary>Measuring instructions</summary>
      <div>
        <h3>Find your fit fast</h3>
        <p>
          <strong>This process should take around 10 minutes.</strong>
        </p>
        <p>You will need the following to get started:</p>
        <ul class="list">
          <li>A drop bar bike you're comfortable on</li>
          <li>Tape measure</li>
          <li>Pencil or pen</li>
          <li>Piece of paper</li>
        </ul>
        <h3>Step 1: Bike setup</h3>
        <ol>
          <li>
            Place your bike along an inside corner of a room with the rear wheel
            touching one wall and the bike positioned parallel with the adjacent
            wall.
          </li>
          <li>The front wheel should be pointing straight ahead.</li>
          <li>
            The handlebar can rest on the adjacent wall to keep the bike
            upright.
          </li>
        </ol>
        <h3>Measuring tips</h3>
        <ul class="list">
          <li>Measure to the nearest millimeter.</li>
          <li>
            If you're using a tape measure with feet and inches, measure to the
            nearest 1/16 inch and then convert to millimeters.
          </li>
          <li>
            Try to hold the measuring tape as close to horizontal and vertical
            as you can.
          </li>
          <li>
            Try to keep the measuring tape parallel with the wall the bike is
            resting on.
          </li>
        </ul>
        <h3>Step 2: Measure handlebar stack</h3>
        <ol>
          <li>
            Measure vertically from the floor to the center of the handlebar
            near the stem and write down your measurement (y1).
          </li>
          <li>
            Measure vertically from the floor to the center of the bottom
            bracket and write down your measurement (y2).
          </li>
          <li>
            Subtract the second measurement from the first measurement and enter
            that number as your handlebar stack (y1 - y2).
          </li>
        </ol>
        <h3>Step 3: Measure handlebar reach</h3>
        <ol>
          <li>
            Measure horizontally from the rear wall to the center of your
            handlebars near the stem and write down your measurement (x1).
          </li>
          <li>
            Measure horizontally from the rear wall to the center of your bottom
            bracket and write down your measurement (x2).
          </li>
          <li>
            Subtract the second measurement from the first measurement and enter
            that number as your handlebar reach (x1 - x2).
          </li>
        </ol>
      </div>
    </details>
  </div>
</section>
<!-- Frame specs -->
<section class="cluster">
  <div class="box prose">
    <header class="box__header">
      {% include "partials/_list-icon.njk" %}
      <h2>Frame specs</h2>
    </header>
    <dl class="box__content">
      <dt>Max tire width</dt>
      <dd>2.25" (57 mm)</dd>
      <dt>Hub dimensions</dt>
      <dd>12x142 mm</dd>
      <dt>Derailleur hanger</dt>
      <dd>UDH / Sram Transmission</dd>
      <dt>Chainline</dt>
      <dd>47–49 mm</dd>
      <dt>Min crank Q-factor</dt>
      <dd>150 mm</dd>
      <dt>Max chainring</dt>
      <dd>46t</dd>
      <dt>Brake type</dt>
      <dd>Flat mount</dd>
      <dt>Max front rotor size</dt>
      <dd>180 mm</dd>
      <dt>Max rear rotor size</dt>
      <dd>160 mm</dd>
      <dt>Seat post</dt>
      <dd>27.2 mm</dd>
      <dt>Seat post clamp</dt>
      <dd>29.8–30.0 mm</dd>
      <dt>Bottom bracket</dt>
      <dd>68 mm BSA</dd>
      <dt>Avg. weight size M5</dt>
      <dd>1850 g</dd>
    </dl>
  </div>
  <!-- Raw materials -->
  <div class="box prose">
    <header class="box__header">
      {% include "partials/_diamond-icon.njk" %}
      <h2>Raw materials</h2>
    </header>
    <dl class="box__content">
      <dt>Headtube</dt>
      <dd>Paragon Machine Works CNC-machined tapered EC34/EC44</dd>
      <dt>Toptube</dt>
      <dd>
        Reynolds 631 25.4 8/5/8 for size M2, Reynolds 853 28.6 8/5/8 for sizes
        M3-M6, Reynolds 853 31.8 8/5/8 for size M7
      </dd>
      <dt>Downtube</dt>
      <dd>
        Reynolds 631 31.8 8/5/8 for sizes M2-M3, Reynolds 853 34.9 8/5/8 for
        sizes M4-M5, Reynolds 853 34.9 1/8/5/8 for sizes M6-M7
      </dd>
      <dt>Seattube</dt>
      <dd>Reynolds 631 29.8/28.6 1.2/6/9</dd>
      <dt>BB shell</dt>
      <dd>Paragon Machine Works 68 mm threaded BSA</dd>
      <dt>Chainstays</dt>
      <dd>4130 19x0.9 straight gauge custom bent in house</dd>
      <dt>Seatstays</dt>
      <dd>4130 12.7x0.9 straight gauge custom bent in house</dd>
      <dt>Chainstay yoke</dt>
      <dd>Custom 3d-printed heat-treated stainless steel</dd>
      <dt>Dropouts</dt>
      <dd>Paragon Machine Works CNC-machined UDH/flat mount</dd>
    </dl>
  </div>
  <!-- Paint scheme -->
  <div class="box prose">
    <header class="box__header">
      {% include "partials/_paint-icon.njk" %}
      <h2>Paint scheme</h2>
    </header>
    <div class="box__content stack">
      {% image "/assets/img/whippet-paint.jpg", "A tube showing the sample paint
      scheme of ruby red with baby blue graphics", "(min-width: 1660px) 687px,
      (min-width: 700px) calc(8.51vw + 547px), calc(92.63vw - 26px)" %}
      <h3>Whippet 2.0 is getting a paint upgrade!</h3>
      <p>
        Ollie at Dark Matter Finishing will be painting frames and forks a
        beautiful metallic ruby red. Ollie also paints on the baby blue
        Manzanita graphics. He then follows up with a durable clear coat for
        that showroom finish.
      </p>
      <p>
        For those of you who want something different, here are the options:
      </p>
      <ul class="list">
        <li>
          Simple powder coat with vinyl decals and a bare carbon fork – $200 off
          base price
        </li>
        <li>
          Different color scheme painted by Ollie – $300 and up depending on
          complexity
        </li>
      </ul>
    </div>
  </div>
  <!-- Fork details -->
  <div class="box prose">
    <header class="box__header">
      {% include "partials/_knight-icon.njk" %}
      <h2>Fork</h2>
    </header>
    <div class="box__content stack">
      {% image "/assets/img/seido-fork.jpg", "A tube showing the sample paint
      scheme of ruby red with baby blue graphics", "(min-width: 1660px) 687px,
      (min-width: 700px) calc(8.51vw + 547px), calc(92.63vw - 26px)" %}
      <p>
        <strong>
          The Seido MGV carbon fork remains the perfect match for the Whippet.
        </strong>
      </p>
      <p>It's the only fork on the market with the following attributes:</p>
      <ul class="list">
        <li>410 mm length for shorter head tubes</li>
        <li>53 mm offset for improved handling</li>
        <li>Tire clearance for up to 57 mm tires</li>
        <li>Brake mounting position for 160 and 180 mm rotors</li>
        <li>All the bikepacking mounts you could want</li>
      </ul>
    </div>
  </div>
</section>
<!-- Results -->
{% include "partials/_whippet-results.njk" %}
<!-- FAQ -->
<section class="prose stack">
  <h2>FAQ</h2>
  <div class="accordion">
    <details name="group">
      <summary>Can I get the frame and fork custom painted?</summary>
      <div>
        <p>
          Yes you can.
          <a href="/contact/">Contact me</a>
          for pricing and turnaround time.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>Can I run a front derailleur?</summary>
      <div>
        <p>The Whippet is optimized for 1x drivetrains.</p>
      </div>
    </details>
    <details name="group">
      <summary>Can I run 650b wheels?</summary>
      <div>
        <p>
          The two smallest frame sizes are designed around 650b wheels. All
          other sizes are designed around 700c wheels. Using 650b wheels on
          sizes M4 and up will put the pedals too low for safe ground clearance.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>What's the narrowest tire I can run?</summary>
      <div>
        <p>The minimum recommended tire width is 45 mm.</p>
      </div>
    </details>
    <details name="group">
      <summary>What's the max weight I can carry on the fork?</summary>
      <div>
        <p>
          The Seido MGV fork is designed for a max system weight of 140 kg (308
          lbs). You can carry 20 kg (44 lbs) on a lowrider rack. You can carry
          1.5 kg (3.3 lbs) per bottle cage eyelet.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>How many headset spacers can I use?</summary>
      <div>
        <p>
          Seido limits the total headset spacer stack under the stem to 19mm.
        </p>
        <p>
          Additionally, Seido requires that you
          <strong>leave 5mm of steerer tube above the stem</strong>. Your
          Whippet will come with Seido's installation instructions. Please refer
          to those when cutting your steerer tube.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>Can I run a suspension fork on this frame?</summary>
      <div>
        <p>
          Most gravel suspension forks with 30mm-40mm of travel will work. The
          taller fork length will slacken the seattube and headtube angles a
          bit, but not enough to dramatically change how the bike handles.
        </p>
      </div>
    </details>
    <details name="group">
      <summary>Can you make me a steel fork instead?</summary>
      <div>
        <p>
          The Whippet is designed specifically for the Seido MGV carbon fork with its
          tapered steerer. I think a large headtube and a skinny fork clash. But
          I'm happy to make you a bike similar to the Whippet with a skinny headtube and
          a matching steel fork. See the <a href="/bikes/custom/">custom option</a>.
        </p>
      </div>
    </details>
    {% for item in faq %}
    <details name="group">
      <summary>{{ item.q }}</summary>
      <div>
        {{ item.a | safe }}
      </div>
    </details>
    {% endfor %}
  </div>
</section>
<!-- photos -->
{% include "partials/_bikes-photos-section.njk" %}
