---
title: Whippet
subTitle: Try to catch the
desc: With clearance for XC tires, Whippet 2.0 is a streamlined, race-ready gravel machine.
miniDesc: Racy gravel
price: $2,800
deposit: $1,000
featuresTitle: Standout features
image: /img/whippet-main.jpg
alt: Side profile of the Whippet gravel bike
order: 1
depositLink: https://link.waveapps.com/vjq8pt-5e73yg
features:
    - image: /img/whippet-tire-clearance.jpg
      alt: Whippet can fit 700x57mm tires
      title: Mountain bike tire clearance
      desc: The Whippet can clear a 57mm (2.25") tire for excellent bump absorption, traction, and speed. Or run skinnier 45mm tires for mud clearance or lots of paved riding.
    - image: /img/whippet-dropouts.jpg
      alt: Close-up of the UDH dropouts from Paragon Machine Works
      title: UDH dropouts
      desc: The dropouts are CNC-machined by Paragon Machine Works in California. They are compatible with all of the latest wireless and mechanical drivetrains. The flat mount brake bosses are integrated with the dropout for perfect brake and rotor alignment.
    - image: /img/reynolds.jpg
      alt: Reynolds steel tubes pictured with all the other raw materials that make up a bike frame.
      title: Reynolds tubing
      desc: Whippet 2.0 front triangles feature a mix of Reynolds 853 and 631 tubes for maximum strength and durability.
    - image: /img/whippet-paint.jpg
      alt: Whippet color scheme is ruby red with baby blue graphics
      title: Paint upgrade
      desc: Ollie at Dark Matter Finishing will be painting frames and forks a beautiful metallic ruby red. Ollie also paints on the baby blue Manzanita graphics. He then follows up with a durable clear coat for that showroom finish.
    - image: /img/seido-fork.jpg
      alt: Seido MGV carbon fork is a perfect match for the Whippet
      title: The best gravel fork
      desc: The Seido MGV fork is unique in the market, featuring generous 29x2.25" tire clearance, brake mounting for 160 or 180 mm rotors, and all the bikepacking mounts you need.
    - image: /img/whippet-rainbow.jpg
      alt: whippet frame sizes stacked on each other
      title: Performance geometry
      desc: Designed around a longer reach and paired with a short 50–90 mm stem, the geometry creates a longer wheelbase for stability at speed and more confidence on steep or rough descents. As frame sizes increase, the chainstays scale proportionally to maintain balanced weight distribution between the wheels, improving climbing traction and handling consistency across all sizes.
photos:
    - src: /img/miguel-lostandfound.jpg
      alt: Miguel and his Whippet racing Lost and Found gravel race.
    - src: /img/andrew-white-whippet.jpg
      alt: Andrew's white and black Whippet
    - src: /img/ward-scenery.jpg
      alt: Ward's Whippet with a beautiful view of Washington
quotes:
    - name: John Watson - The Radavist
      img: /img/whippet-watson.jpg
      alt: John rides his demo Whippet near his home in Santa Fe, New Mexico.
      text: ... every ride on the Whippet in this terrain [loose and rocky] ended in multiple PRs. ... The tire clearance, modern geometry, light weight, and classy build kit put the Whippet in a class all its own.
---

<div class="stack-2xl">
	<!-- Hero -->
	{% include "partials/_bikes-hero-section.njk" %}
	<!-- Update -->
	{% include "partials/_whippet-update.njk" %}
	<!-- Quote -->
	{% include "partials/_whippet-quote.njk" %}
	<!-- What's included -->
	{% include "partials/_whippet-included.njk" %}
	<!-- Frame choice -->
	{% include "partials/_whippet-frame-choice.njk" %}
	<!-- Build kit -->
	{% include "partials/_whippet-kit-builder.njk" %}
	<!-- Highlighted features -->
	{% include "partials/_bikes-features-section.njk" %}
	<!-- Geometry -->
	{% include "partials/_whippet-geo.njk" %}
	<!-- Frame specs -->
	{% include "partials/_whippet-frame-specs.njk" %}
	<!-- Raw materials -->
	{% include "partials/_whippet-raw-materials.njk" %}
	<!-- Results -->
	{% include "partials/_whippet-results.njk" %}
	<!-- FAQ -->
	{% include "partials/_whippet-faq.njk" %}
	<!-- photos -->
	{% include "partials/_bikes-photos-section.njk" %}
</div>
