---
title: Whippet
metaDesc: With clearance for XC tires, the Whippet 2.0 is a streamlined, race-ready gravel machine.
Schema:
type: Product
name: Whippet gravel bike
headline: With clearance for XC tires, the Whippet 2.0 is a streamlined, race-ready gravel machine.
---

<div class="full-width stack-3-5">
    <div class="zigzag">
        {% image "/assets/img/whippet-main.jpg", "whippet steel gravel race bike", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)", "eager", "high" %}
        <div>
            <p class="slub">Try to catch the</p>
            <div class="flow">
                <h1 class="highlight">Whippet</h1>
                <p>With clearance for XC tires, the <strong>Whippet 2.0</strong> is a streamlined, race-ready gravel machine.</p>
                <!-- <p><a href="https://link.waveapps.com/vjq8pt-5e73yg" class="button">Place deposit</a></p> -->
                <p class="button button--disabled">Coming soon!</p>
            </div>
        </div>
    </div>
    <!-- Update -->
    <div class="wrap flow">
        <h2>Update</h2>
        <p class="fine-print">24 Sep 2025</p>
        <p>I plan to open up the Whippet for orders soon. Right now I'm trying to secure a bunch of Seido carbon forks, which is proving difficult. I'm looking at other fork options as a backup plan.</p>
        <p>If you want to be the first to order a Whippet, please sign up for the Manzanita newsletter in the form at the bottom of the page. Newsletter subscribers will get first dibs placing an order.</p>
    </div>
    <!-- Pricing -->
    <div class="wrap flow">
        <h2>Pricing</h2>
        <div class="card flow">
            <h3>frameset</h3>
            <p class="h2">$2,800</p>
            <p class="fine-print">Included:</p>
            <ul class="mt-0 list">
                <li>Whippet 2.0 painted racer ruby</li>
                <li>Carbon fork painted to match</li>
                <li>Wolf Tooth seat collar, headset, rear axle, derailleur hanger</li>
                <li>Stainless bottle and rear brake bolts</li>
            </ul>
        </div>
        {% include "partials/_kit-builder.njk" %}
    </div>
    <!-- Highlighted features -->
    <div class="stack-3">
        <div class="zigzag">
            {% image "/assets/img/whippet-drawing.jpg", "whippet features called out in drawing", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)" %}
            <div class="flow">
                <h2>Streamlined</h2>
                <p>The Whippet 2.0 is optimized for wireless drivetrains. The rear brake runs internally through the down tube and externally along the chainstay. You get only the mounts you need and nothing more.</p>
            </div>
        </div>
        <div class="zigzag">
            {% image "/assets/img/whippet-tire-clearance.jpg", "Whippet can fit 700x57mm tires", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)" %}
            <div class="flow">
                <h2>The best gravel tires are mountain bike tires</h2>
                <p>The Whippet can clear a 57mm (2.25") tire for excellent bump absorption, traction, and speed. Or run skinnier 45mm tires for tons of mud clearance or lots of paved riding.</p>
            </div>
        </div>
        <div class="zigzag">
            {% image "/assets/img/whippet-dropouts.jpg", "whippet", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)" %}
            <div class="flow">
                <h2>UDH dropouts for the win</h2>
                <p>The dropouts are CNC-machined by Paragon Machine Works in California. They are compatible with Sram Transmission and Shimano wireless rear derailleurs.</p>
            </div>
        </div>
        <div class="zigzag">
            {% image "/assets/img/whippet-rainbow.jpg", "whippet frame sizes stacked on each other", "(min-width: 1560px) 886px, (min-width: 1140px) calc(83.5vw - 400px), (min-width: 1000px) 900px, calc(95.29vw - 34px)" %}
            <div class="flow">
                <h2>Proportional frame sizes</h2>
                <p>Short and tall riders finally get frames that scale for their size so everyone can enjoy a bike that handles intuitively. The frame tubes also scale to get that perfect blend of precision and suppleness that steel is famous for.</p>
            </div>
        </div>
    </div>
    <!-- Geometry -->
    <div class="stack-1 wrap">
        <div class="flow wrap">
            <h2>Geometry</h2>
            <p>The Whippet comes in 6 frame sizes to cover a wide range of riders. Please use the <strong>Frame Fit Calculator</strong> below to help determine the best frame size for you.</p>
        </div>
        {% include "partials/_whippetGeo.njk" %}
        <div class="fine-print">
            <p>*Effective angle at average saddle height</p>
            <p>**Center to top</p>
            <p>***Measured with 55mm (2.2") tire</p>

        </div>
    </div>
    <!-- Frame Fit Calculator -->
    <div class="flow wrap">
        <h2>Frame Fit Calculator</h2>
        <div class="accordion">
            <details>
                <summary>What's the best way to determine my Whippet frame size?</summary>
                <div class="flow">
                    <p>Numbers like effective top tube length, frame reach, and frame stack can be helpful, but they're not the whole story. And sizing based on height alone is often misleading. After all, you don't touch the frame directly when you're on the bike.</p>
                    <p>What really determines comfort and performance are the position of the contact points: your handlebars, saddle, and pedals. The Frame Fit Calculator focuses on these touch points to give you a more accurate recommendation, so you can be confident you're choosing the right size Whippet for how you fit on the bike.</p>
                    <p>The Frame Fit Calculator helps you determine the best:</p>
                    <ul class="list">
                        <li>Whippet frame size</li>
                        <li>Stem length</li>
                        <li>Stem angle</li>
                        <li>Headset spacer stack</li>
                    </ul>
                </div>
            </details>
            <details>
                <summary>Help me understand the Calculator's results.</summary>
                <div class="flow">
                    <p>The Frame Fit Calculator finds the closest setup match to the measurements you've taken from your current bike. It's as accurate as the measurements you take.</p>
                    <p>The <strong>best match</strong> shows you the closest dimensional match to your current bike.</p>
                    <p>But some people might prefer the look of their stem angled down. In that case, the calculator also shows the <strong>best match with a negative stem angle</strong>.</p>
                    <p>Many times the best match is also a setup with a negative stem angle. Win, win!</p>
                </div>
            </details>
            <details>
                <summary>Measuring instructions</summary>
                <div class="flow">
                    <h3>Find your fit fast</h3>
                    <p><strong>This process should take around 10 minutes.</strong></p>
                    <p>You will need the following to get started:</p>
                    <ul class="list">
                        <li>A drop bar bike you're comfortable on</li>
                        <li>Tape measure</li>
                        <li>Pencil or pen</li>
                        <li>Piece of paper</li>
                    </ul>
                    <h3>Step 1: Bike setup</h3>
                    <ol class="list ol">
                        <li>Place your bike along an inside corner of a room with the rear wheel touching one wall and the bike positioned parallel with the adjacent wall.</li>
                        <li>The front wheel should be pointing straight ahead.</li>
                        <li>The handlebar can rest on the adjacent wall to keep the bike upright.</li>
                    </ol>
                    <h3>Measuring tips</h3>
                    <ul class="list">
                        <li>Measure to the nearest millimeter.</li>
                        <li>If you're using a tape measure with feet and inches, measure to the nearest 1/16 inch and then convert to millimeters.</li>
                        <li>Try to hold the measuring tape as close to horizontal and vertical as you can.</li>
                        <li>Try to keep the measuring tape parallel with the wall the bike is resting on.</li>
                    </ul>
                    <h3>Step 2: Measure handlebar stack</h3>
                    <ol class="list ol">
                        <li>Measure vertically from the floor to the center of the handlebar near the stem and write down your measurement (y1).</li>
                        <li>Measure vertically from the floor to the center of the bottom bracket and write down your measurement (y2).</li>
                        <li>Subtract the second measurement from the first measurement and enter that number as your handlebar stack (y1 - y2).</li>
                    </ol>
                    <h3>Step 3: Measure handlebar reach</h3>
                    <ol class="list ol">
                        <li>Measure horizontally from the rear wall to the center of your handlebars near the stem and write down your measurement (x1).</li>
                        <li>Measure horizontally from the rear wall to the center of your bottom bracket and write down your measurement (x2).</li>
                        <li>Subtract the second measurement from the first measurement and enter that number as your handlebar reach (x1 - x2).</li>
                    </ol>
                </div>
            </details>
        </div>
        {% include "partials/_whippetFitCalc.njk" %}
    </div>
    <!-- Specs -->
    <div class="cluster">
        <div class="card flow wrap">
            <h2>Frame specs</h2>
            <dl>
                <dt>Max tire width</dt>
                <dd>2.25" or 57mm</dd>
                <dt>Hub dimensions</dt>
                <dd>12x100 front, 12x142 rear</dd>
                <dt>Derailleur hanger</dt>
                <dd>UDH / Sram Transmission</dd>
                <dt>Chainline</dt>
                <dd>47mm to 49mm</dd>
                <dt>Min crank Q-factor</dt>
                <dd>150mm</dd>
                <dt>Max chainring</dt>
                <dd>46t</dd>
                <dt>Brake type</dt>
                <dd>Flat mount</dd>
                <dt>Max front rotor size</dt>
                <dd>180mm</dd>
                <dt>Max rear rotor size</dt>
                <dd>160mm</dd>
                <dt>Seat post</dt>
                <dd>27.2mm</dd>
                <dt>Seat post clamp</dt>
                <dd>29.8mm to 30.0mm</dd>
                <dt>Bottom bracket</dt>
                <dd>68mm BSA</dd>
                <dt>Avg. weight size M5</dt>
                <dd>1850g</dd>
            </dl>
        </div>
        <div class="card flow wrap">
            <h2>Raw materials</h2>
            <dl>
                <dt>Headtube</dt>
                <dd>Paragon Machine Works CNC-machined tapered EC34/EC44</dd>
                <dt>Toptube</dt>
                <dd>Reynolds 631 25.4 8/5/8 for size M2, Reynolds 853 28.6 8/5/8 for sizes M3-M6, Reynolds 853 31.8 8/5/8 for size M7</dd>
                <dt>Downtube</dt>
                <dd>Reynolds 631 31.8 8/5/8 for sizes M2-M3, Reynolds 853 34.9 8/5/8 for sizes M4-M5, Reynolds 853 34.9 1/8/5/8 for sizes M6-M7</dd>
                <dt>Seattube</dt>
                <dd>Reynolds 631 1.2/6/9</dd>
                <dt>BB shell</dt>
                <dd>Paragon Machine Works 68mm threaded BSA</dd>
                <dt>Chainstays</dt>
                <dd>4130 19x0.9 straight gauge custom bent in house</dd>
                <dt>Seatstays</dt>
                <dd>4130 12.7x0.9 straight gauge custom bent in house</dd>
                <dt>Chainstay yoke</dt>
                <dd>Custom 3d-printed heat-treated stainless steel</dd>
                <dt>Dropouts</dt>
                <dd>Paragon Machine Works CNC-machined UDH/flat mount</dd>
            </dl>
        </div>
    </div>
    <div class="wrap flow">
        <h2>Paint scheme</h2>
        {% image "/assets/img/whippet-paint.jpg", "A tube showing the sample paint scheme of ruby red with baby blue graphics", "(min-width: 1660px) 687px, (min-width: 700px) calc(8.51vw + 547px), calc(92.63vw - 26px)" %}
        <p><strong>Whippet 2.0 is getting a paint upgrade!</strong></p>
        <p>Ollie at Dark Matter Finishing will be painting frames and forks a beautiful metallic ruby red. Ollie also paints on the baby blue Manzanita graphics. He then follows up with a durable clear coat for that showroom finish.</p>
        <p>For those of you who want something different, here are the options:</p>
        <ul class="list">
            <li>Simple powder coat with vinyl decals and a bare carbon fork – $200 off base price</li>
            <li>Different color scheme painted by Ollie – $300 and up depending on complexity</li>
        </ul>
    </div>
    <!-- Testimonials -->
    <div class="flow">
        <h2>Whippet results</h2>
        <div class="switcher">
            {% for rider in quotes %}
            {% if rider.category == 'Whippet' %}
            <figure class="card flow">
                {% image rider.img, rider.alt, "(min-width: 1560px) 410px, (min-width: 820px) calc(32.08vw - 84px), (min-width: 780px) calc(50vw - 90px), calc(100vw - 102px)" %}
                <figcaption class="flow">
                    <p class="h3">{{ rider.name }}</p>
                    {% if rider.results %}
                    <dl>
                        {% for result in rider.results %}
                        <dt>{{ result.place }} place</dt>
                        <dd>{{ result.race }}</dd>
                        {% endfor %}
                    </dl>
                    {% endif %}
                </figcaption>
            </figure>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- FAQ -->
    <div class="wrap stack-1">
        <h2>FAQ</h2>
        <div class="accordion">
            <details>
                <summary>Can I get the frame and fork custom painted?</summary>
                <div>
                    <p>Yes you can. <a href="/contact/">Contact me</a> for pricing and turnaround time.</p>
                </div>
            </details>
            <details>
                <summary>Can I run a front derailleur?</summary>
                <div>
                    <p>The Whippet is optimized for 1x drivetrains.</p>
                </div>
            </details>
            <details>
                <summary>Can I run a mechanical drivetrain?</summary>
                <div>
                    <p>The Whippet is optimized for wireless drivetrains. But if you'd prefer external routing for mechanical drivetrains it'll be +$100, which includes custom 3d-printed housing guides along the down tube and chainstay.</p>
                </div>
            </details>
            <details>
                <summary>Can I run 650b wheels?</summary>
                <div>
                    <p>The two smallest frame sizes are designed around 650b wheels. All other sizes are designed around 700c wheels. Using 650b wheels on sizes M4 and up will put the pedals too low for safe ground clearance.</p>
                </div>
            </details>
            <details>
                <summary>What's the narrowest tire I can run?</summary>
                <div>
                    <p>The minimum recommended tire width is 45mm.</p>
                </div>
            </details>
            <details>
                <summary>What's the max weight I can carry on a rear rack?</summary>
                <div>
                    <p>The frame will get wiggly if you try to add too much weight on a rear rack. I'd recommend carrying no more than 8lbs, including the weight of the rack.</p>
                </div>
            </details>
            <details>
                <summary>What's the max weight I can carry on the fork?</summary>
                <div>
                    <p>The Winow Sports carbon fork is designed for a max system weight of 130kg (286lbs). The mounts on the fork legs can carry 3.5kg (7.75lbs) each or 10kg (22lbs) if using some kind of 3-pack rack.</p>
                </div>
            </details>
            <details>
                <summary>How many headset spacers can I use?</summary>
                <div class="flow">
                    <p>Seido limits the total headset spacer stack under the stem to 19mm.</p>
                    <p>Additionally, Seido requires that you <strong>leave 5mm of steerer tube above the stem</strong>. Your Whippet will come with Seido's installation instructions. Please refer to those when cutting your steerer tube.</p>
                </div>
            </details>
            <details>
                <summary>Can I run a suspension fork on this frame?</summary>
                <div>
                    <p>Most gravel suspension forks with 30mm-40mm of travel will work. The taller fork length will slacken the seattube and headtube angles a bit, but not enough to dramatically change how the bike handles.</p>
                </div>
            </details>
            <details>
                <summary>Can you make me a steel fork instead?</summary>
                <div>
                    <p>
                        The Whippet is designed specifically for the Seido MGV carbon fork
                        with its tapered steerer. I think a large headtube and a skinny
                        steel fork clash. But I'm happy to make you a bike similar to the
                        Whippet with a skinny headtube and a matching steel fork. See the
                        <a href="/bikes/custom/">custom option</a>.
                    </p>
                </div>
            </details>
            {% for item in faq %}
            <details>
                <summary>{{ item.q }}</summary>
                <div class="flow">
                    {{ item.a | safe }}
                </div>
            </details>
            {% endfor %}
        </div>
    </div>
    <!-- photos -->
    <div class="flow">
        <h2>Whippets in the wild</h2>
        <div class="masonry flow">
            {% image "/assets/img/miguel-lostandfound.jpg", "Miguel and his Whippet racing Lost and Found gravel race.", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/whippet-campandgoslow-tape.jpg", "A Whippet with Camp and Go Slow Western Rattler handlebar tape", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/andrew-white-whippet.jpg", "Andrew's white and black Whippet", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/ward-scenery.jpg", "Ward's Whippet with a beautiful view of Washington", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/whippet-redwoods.jpg", "A Whippet in the redwoods", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/whippet-stillwater-nevada.jpg", "Riding my Whippet near Stillwater Wildlife Preserve in Nevada", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/ruby-roubaix.jpg", "Racing the Ruby Roubaix", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
            {% image "/assets/img/Ruby-Roubaix-Podium.jpg", "Elliot on the podium of Ruby Roubaix", "(min-width: 1620px) 464px, (min-width: 1300px) calc(21vw + 128px), (min-width: 880px) calc(50vw - 36px), calc(100vw - 48px)" %}
        </div>
    </div>
</div>