<section class="stack-2xl mt-2xl center feature">
	{% for bike in collections.bikes | sort(attribute='data.order') %}
		<article class="sidebar">
			<a href="{{ bike.url }}"><img src="{{ bike.data.image }}" alt="{{ bike.data.alt }}" sizes="(min-width: 820px) 499px, calc(100vw - 32px)" loading="eager" fetchpriority="high" /></a>
			<div>
				<h2><a href="{{ bike.url }}">{{ bike.data.title }}</a></h2>
				<p class="muted mt-sm">{{ bike.data.desc }}</p>
			</div>
		</article>
	{% endfor %}
</section>
