<section class="sidebar">
    {% image image, alt, "(min-width: 1560px) 911px, (min-width: 1000px) calc(85vw - 398px), calc(97.21vw - 24px)", "eager", "high" %}
    <div class="stack">
        <p class="fine-print">{{ subTitle }}</p>
        <h1 class="m-top-0">{{ title }}</h1>
        <p class="m-top-0 muted">{{ desc }}</p>
        <p><a href="{{ depositLink }}" class="button">Place deposit</a></p>
    </div>
</section>