<section class="flow-deep">
	<figure class="center feature">
		<img src="{{ image }}" alt="{{ alt }}" sizes="(min-width: 1060px) 960px, 93.51vw" loading="eager" fetchpriority="high" />
	</figure>
	<div class="center">
		<hgroup>
			<p class="fine-print">{{ subTitle }}</p>
			<h1 class="mt-0">{{ title }}</h1>
		</hgroup>
		<p class="muted">{{ desc }}</p>
		<p>
			<strong>{{ price }}</strong>
		</p>
		<p><a href="{{ depositLink }}" class="btn">Place deposit</a></p>
		<p class="fine-print mt-sm">Secure your spot in the queue for {{ deposit }}.</p>
	</div>
</section>
