<section class="stack-2xl mt-2xl center feature">
	{% for bike in collections.bikes | sort(attribute='data.order') %}
	<figure class="sidebar">
			<div>
				<a href="{{ bike.url }}" class="no-decor"><img src="{{ bike.data.image }}" alt="{{ bike.data.alt }}" sizes="(min-width: 1040px) 535px, (min-width: 880px) calc(79.29vw - 274px), calc(100vw - 32px)" /></a>
			</div>
			<figcaption>
				<h2><a href="{{ bike.url }}" class="no-decor">{{ bike.data.title }}</a></h2>
				<p class="muted mt-sm">{{ bike.data.desc }}</p>
			</figcaption>
		</figure>
	{% endfor %}
</section>
