<ul class="stack-2xl mt-2xl" role="list">
	{% for bike in collections.bikes | sort(attribute='data.order') %}
	<li>
		<a href="{{ bike.url }}" class="no-decor block">
			{% if loop.index0 === 0 %}
			<img src="{{ bike.data.image }}" alt="{{ bike.data.alt }}" sizes="(min-width: 620px) 544px, 92vw" loading="eager" fetchpriority="high" />
			{% else %}
			<img src="{{ bike.data.image }}" alt="{{ bike.data.alt }}" sizes="(min-width: 620px) 544px, 92vw" />
			{% endif %}
			<h2 class="mt-base">{{ bike.data.title }}</h2>
		</a>
		<p class="muted mt-sm">{{ bike.data.desc }}</p>
	</li>
	{% endfor %}
</ul>
