<section class="center">
	{% set quote = quotes | findByKey('name', 'McCord B.') %}
	<figure class="sidebar-sm flow-thru">
		{% if quote %}
		<div>
			<img src="{{ quote.img }}" alt="{{ quote.alt }}" />
		</div>
		<figcaption class="highlight">
			<blockquote>
				<p>&ldquo;{{ quote.text }}&rdquo;</p>
				<footer>
					<cite>{{ quote.name }}</cite>
				</footer>
			</blockquote>
		</figcaption>
	</figure>
	{% endif %}
</section>
