<footer class="center m-top-xl-4xl">
    <address>
        {% include "partials/_logo.njk" %}
        <br>
        Nick Jensen
        <br>
        Reno, Nevada
        <br>
        <a href="tel:+16502070312">
            <span class="reverse-text">2130-702-056</span>
        </a>
        <br>
        <a href="mailto:nick@manzanitacycles.com">
            <span class="reverse-text">moc.selcycatinaznam@kcin</span>
        </a>
    </address>
    {% include "partials/_signup-form.njk" %}
</footer>