<div class="box prose">
  <header class="flex-icon p-s-m">
    {% include "partials/_design-icon.njk" %}
    <h2>Kit builder</h2>
  </header>
  <div class="stack p-s-m">
    <dl>
      <dt class="fine-print">Frameset</dt>
      <dd class="fine-print">$2,800</dd>
      <dt class="fine-print">Components</dt>
      <dd class="fine-print">$<span id="components-price">0</span></dd>
      <dt class="bold text-dark">Total</dt>
        <dd class="bold">$<span id="total-price">0</span></dd>
    </dl>
    <form id="kit-builder" class="kit-builder stack">
    {% for category, items in components %}
        {% set category_slug = category | lower | replace(' ', '_') %}
        <fieldset class="kit-builder__group">
        <legend>{{ category }}</legend>
        {% set base = items[0] %}
        {% for item in items %}
            {% set diff = item.price - base.price %}
            {% set item_id = category_slug ~ '_' ~ loop.index %}
            <label for="{{ item_id }}" class="kit-builder__card">
            <div class="kit-builder__option">
                <p>{{ item.name }}</p>
                <input
                type="radio"
                id="{{ item_id }}"
                name="{{ category_slug }}"
                value="{{ item.name }}"
                data-price="{{ item.price }}"
                {% if loop.first %}
                    checked
                {% endif %}
                />
            </div>
            <p class="kit-builder__price fine-print">
                {% if loop.first %}
                + $0
                {% elif diff > 0 %}
                + ${{ diff }}
                {% else %}
                - ${{ diff | abs }}
                {% endif %}
            </p>
            </label>
        {% endfor %}
        </fieldset>
    {% endfor %}
    </form>
    <p class="fine-print">
      Pricing and parts subject to change. Saddle and pedals not included but
      can be added. Substitutions available.
    </p>
  </div>
</div>
