<section class="center overline">
	<h2>What's included</h2>
	<ul class="stack-sm mt-base">
		<li>Single color powder coat with vinyl decals</li>
		<li>Wolf Tooth seat collar</li>
		<li>Wolf Tooth headset</li>
		<li>Wolf Tooth rear axle</li>
		<li>Wolf Tooth derailleur hanger</li>
	</ul>
</section>
