<footer class="mt-2xl stack-2xl center">
	{% include "partials/_site-signup-form.njk" %}
	<address class="muted highlight">
		Nick Jensen<br />
		Reno, Nevada<br />
		<a href="tel:+16502070312">650-207-0312</a><br />
		<a href="mailto:nick@manzanitacycles.com">nick@manzanitacycles.com</a>
	</address>
</footer>
