<section>
	<h2>Subscribe to Manzanita news</h2>
	<form action="https://usebasin.com/f/89b25adb96c4" method="POST">
		<input type="text" name="herebear" tabindex="-1" autocomplete="off" hidden />
		<label class="sr-only" for="signup-email">Email</label>
		<input class="mt-base" type="email" name="email" id="signup-email" placeholder="Enter your email" required autocomplete="email" />
		<button class="btn mt-lg" type="submit">Subscribe</button>
	</form>
</section>
