<footer class="mt-2xl stack-2xl center">
	{% include "partials/_site-signup-form.njk" %}
	<p class="muted highlight">
		{% include "partials/_site-logo.njk" %}<br>
		Manzanita Cycles<br>
		Nick Jensen<br>
		Reno, Nevada<br>
	</p>
</footer>
