<header class="center">
	<a href="/" aria-label="Home page">{% include "partials/_site-logo.njk" %}</a>
	<nav>
		<button popovertarget="pop">Bikes</button>
		<a href="/about">About</a>
		<a href="/contact">Contact</a>
	</nav>
</header>

<div id="pop" popover>
	{% for bike in collections.bikes | sort(attribute='data.order') %}
		<a href="{{ bike.url }}">
			<strong>{{ bike.data.title }}</strong>
			<p class="fine-print">{{ bike.data.miniDesc }}</p>
		</a>
	{% endfor %}
</div>
