<section>
    <div class="reel">
        {% for rider in quotes %}
            {% if rider.category == title %}
                <figure class="box p-s-m stack">
                    {% image rider.img, rider.alt, "(min-width: 1380px) 346px, calc(14.15vw + 154px)" %}
                    <figcaption class="stack">
                        {% include "partials/_quote-icon.njk" %}
                        <p class="m-top-0 quote-text">{{ rider.text }}</p>
                        <p class="fine-print">{{ rider.name }}</p>
                    </figcaption>
                </figure>
            {% endif %}
        {% endfor %}
    </div>
</section>