<section class="center overline">
	<h2>Raw materials</h2>
	<dl class="mt-lg">
		<dt>Headtube</dt>
		<dd>Paragon Machine Works CNC-machined tapered EC34/EC44</dd>
		<dt>Toptube</dt>
		<dd>Reynolds 631 25.4 8/5/8 for size M2, Reynolds 631 28.6 8/5/8 for sizes M3-M6, Reynolds 853 31.8 8/5/8 for size M7</dd>
		<dt>Downtube</dt>
		<dd>Reynolds 631 31.8 8/5/8 for sizes M2-M3, Reynolds 853 34.9 8/5/8 for sizes M4-M5, Reynolds 853 34.9 1/8/5/8 for sizes M6-M7</dd>
		<dt>Seattube</dt>
		<dd>Reynolds 631 29.8/28.6 1.2/6/9</dd>
		<dt>BB shell</dt>
		<dd>Paragon Machine Works 68 mm threaded BSA</dd>
		<dt>Chainstays</dt>
		<dd>4130 19x0.9 straight gauge custom bent in house</dd>
		<dt>Seatstays</dt>
		<dd>4130 12.7x0.9 straight gauge custom bent in house</dd>
		<dt>Chainstay yoke</dt>
		<dd>Custom 3d-printed heat-treated stainless steel</dd>
		<dt>Dropouts</dt>
		<dd>Paragon Machine Works CNC-machined UDH/flat mount</dd>
	</dl>
</section>
