<section class="flow center overline">
	<h2>Geometry</h2>
	<div class="overflow-auto">
		<table>
			<thead>
				<tr>
					<th scope="col">Dimensions</th>
					<th scope="col">M2</th>
					<th scope="col">M3</th>
					<th scope="col">M4</th>
					<th scope="col">M5</th>
					<th scope="col">M6</th>
					<th scope="col">M7</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Avg height</th>
					<td>5'4"</td>
					<td>5'6"</td>
					<td>5'8"</td>
					<td>5'10"</td>
					<td>6'0"</td>
					<td>6'2"</td>
				</tr>
				<tr>
					<th scope="row">Avg saddle height</th>
					<td>675</td>
					<td>700</td>
					<td>725</td>
					<td>750</td>
					<td>775</td>
					<td>800</td>
				</tr>
				<tr>
					<th scope="row">Reach</th>
					<td>364</td>
					<td>376</td>
					<td>388</td>
					<td>400</td>
					<td>412</td>
					<td>424</td>
				</tr>
				<tr>
					<th scope="row">Stack</th>
					<td>540</td>
					<td>553</td>
					<td>572</td>
					<td>593</td>
					<td>612</td>
					<td>631</td>
				</tr>
				<tr>
					<th scope="row">Eff TT length</th>
					<td>514</td>
					<td>535</td>
					<td>552</td>
					<td>570</td>
					<td>587</td>
					<td>605</td>
				</tr>
				<tr>
					<th scope="row">HT angle</th>
					<td>69.0</td>
					<td>70.0</td>
					<td>70.0</td>
					<td>70.5</td>
					<td>70.5</td>
					<td>70.5</td>
				</tr>
				<tr>
					<th scope="row">HT length</th>
					<td>110</td>
					<td>120</td>
					<td>120</td>
					<td>140</td>
					<td>160</td>
					<td>180</td>
				</tr>
				<tr>
					<th scope="row">ST angle<sup>1</sup></th>
					<td>74.5</td>
					<td>74.0</td>
					<td>74.0</td>
					<td>74.0</td>
					<td>74.0</td>
					<td>74.0</td>
				</tr>
				<tr>
					<th scope="row">ST length<sup>2</sup></th>
					<td>425</td>
					<td>450</td>
					<td>495</td>
					<td>520</td>
					<td>545</td>
					<td>570</td>
				</tr>
				<tr>
					<th scope="row">CS length</th>
					<td>425</td>
					<td>425</td>
					<td>430</td>
					<td>430</td>
					<td>435</td>
					<td>435</td>
				</tr>
				<tr>
					<th scope="row">BB drop</th>
					<td>62</td>
					<td>62</td>
					<td>81</td>
					<td>81</td>
					<td>81</td>
					<td>81</td>
				</tr>
				<tr>
					<th scope="row">BB height<sup>3</sup></th>
					<td>285</td>
					<td>285</td>
					<td>285</td>
					<td>285</td>
					<td>285</td>
					<td>285</td>
				</tr>
				<tr>
					<th scope="row">Fork length</th>
					<td>410</td>
					<td>410</td>
					<td>410</td>
					<td>410</td>
					<td>410</td>
					<td>410</td>
				</tr>
				<tr>
					<th scope="row">Fork offset</th>
					<td>53</td>
					<td>53</td>
					<td>53</td>
					<td>53</td>
					<td>53</td>
					<td>53</td>
				</tr>
				<tr>
					<th scope="row">Wheel size</th>
					<td>650b</td>
					<td>650b</td>
					<td>700c</td>
					<td>700c</td>
					<td>700c</td>
					<td>700c</td>
				</tr>
				<tr>
					<th scope="row">Wheelbase</th>
					<td>1025</td>
					<td>1032</td>
					<td>1045</td>
					<td>1060</td>
					<td>1084</td>
					<td>1102</td>
				</tr>
				<tr>
					<th scope="row">Trail<sup>3,4</sup></th>
					<td>71</td>
					<td>66</td>
					<td>72</td>
					<td>69</td>
					<td>69</td>
					<td>69</td>
				</tr>
				<tr>
					<th scope="row">Standover<sup>3</sup></th>
					<td>737</td>
					<td>757</td>
					<td>790</td>
					<td>812</td>
					<td>833</td>
					<td>855</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="fine-print mt-lg stack-sm">
		<p><sup>1</sup> Effective angle at average saddle height</p>
		<p><sup>2</sup> Center to top</p>
		<p><sup>3</sup> Measured with 55mm (2.2") tire</p>
		<p><sup>4</sup> Mechanical trail</p>
	</div>
</section>
