<section class="flow-deep center overline">
	<h2>Frame options</h2>
	<img src="/img/whippet-drawing.jpg" alt="Whippet 2.0 can be configured for sleek internal routing or simple external routing" sizes="(min-width: 620px) 544px, 92vw" />
	<p>Whippet 2.0 can be configured for cable-actuated or wireless drivetrains:</p>
	<h3>1. Sleek</h3>
	<p class="mt-0">The rear brake runs internally through the down tube and externally under the chainstay. There are no unnecessary housing guides on the down tube and driveside chainstay.</p>
	<h3>2. Simple</h3>
	<p class="mt-0">Bolt-on housing guides run along the down tube and both chainstays to securely fasten your brake and derailleur lines.</p>
</section>
