<section class="flow center overline">
	<h2>Update</h2>
	<p>As of January 13, 2025, I'm currently taking orders with a May/June delivery.</p>
	<p>The Whippet is a hit. I'm doing my best to make them as fast as I can.</p>
	<p>Happy holidays!</p>
</section>
