<section class="center overline">
	<h2>What's included</h2>
	<ul class="stack-sm mt-base">
		<li>Whippet 2.0 frame</li>
		<li>Carbon fork painted to match</li>
		<li>Wolf Tooth seat collar</li>
		<li>Wolf Tooth headset</li>
		<li>Wolf Tooth rear axle</li>
		<li>Wolf Tooth derailleur hanger</li>
	</ul>
</section>
